<div class="row">
    <div class="search-item" id="left-side-community-page">
        <div id="community-page-users" class="users panel">
            <div class="panel-heading">
                <h1 class="panel-title"><strong>Search user by name</strong></h1>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="user-firstName-search" type="text" placeholder="First name">
                        <span class="input-group-btn">
                        </span>
                    </div>
                    <br/>
                    <div class="input-group">
                        <input class="form-control" id="user-lastName-search" type="text" placeholder="Last name">
                        <span class="input-group-btn">
                        </span>
                    </div>
                </div>
                <button class="btn btn-default" id="search-user-button" type="button"><strong>Find user</strong></button>
            </div>
        </div>
    </div>
    <div class="results-item" id="left-side-community-page">
        <div id="community-page-users" class="panel panel-primary">
            <div class="panel-body">
                <div class="panel-heading">
                    <h1 class="panel-title" id="search-user"><strong>Results:</strong></h1>
                </div>

                <div class="alert alert-dismissible alert-warning" id="no-results-paragraph">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>There is no such user!</strong></p>
                </div>

                <div class="users-info">
                    {{#username}}
                        <div class="profile-info">
                            <div><b>First name:</b> {{firstName}}</div>
                            <div><b>Last name:</b> {{lastName}}</div>
                        </div>
                    {{/username}}
                </div>
            </div>
        </div>
    </div>
</div>