<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img src="./assets/images/logo.png" alt="B-Library">
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
          <input type="text" id="login-username"class="form-control input-sm" placeholder="Username">
          <input type="password" id="login-password" class="form-control input-sm" placeholder="Password">
          <button type="button" id="sign-in-user" class="btn btn-primary btn-sm">Sign in</button>
      </div>
    </form>
  </div>
</div>
</nav>

<main>
  <div class="row">
            <div class="col-md-6 portfolio-item" id="left-side-mainpage">
                    <h1>Connect through books</h1>
                <div>
                  <blockquote class="blockquote-reverse">
                    <p>"A room without books is like a body without a soul."</p>
                    <small><cite title="Source Title">Marcus Tullius Cicero</cite></small>
                  </blockquote>
                  <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search for your next favourite book</h3>
                  <h3><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span>List all books you have read</h3>
                  <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Find what your friends are reading</h3>
                </div>
            </div>
            <div class="col-md-6 portfolio-item" id="right-side-mainpage">
              <form class="form-horizontal">
                <fieldset>
                  <legend>Register</legend>
                  <div class="form-group">
                    <label for="inputFirstName" class="col-lg-3 control-label">First Name</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="input-first-name" placeholder="First name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputLastName" class="col-lg-3 control-label">Last Name</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="input-last-name" placeholder="Last name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputUsername" class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="input-username" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmailAddress" class="col-lg-3 control-label">Email Address</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="input-email-address" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                      <input type="password" class="form-control" id="input-password" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Confirm password</label>
                    <div class="col-lg-9">
                      <input type="password" class="form-control" id="input-confirm-password" placeholder="Confirm password">
                    </div>
                  </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                      <button type="button" id="sign-up-user" class="btn btn-sm btn-primary btn-lg btn-block">Sign up</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
  </div>
</main>
